.player-div {
  /*background-color: #EAEBE7;*/
  background-color: #b3e6ff;
  margin: 30px;
  border-radius: 20px; 
}

.player-div:hover {
  cursor: pointer;
}

.choose {
  text-decoration: none;
}

.chosen div {
  /*background-color: green;*/
  border: 1px solid green;
}

.off div {
  /*background-color: red;*/
  opacity: 0.4;
}

.team-not-complete {
  color: red;
}

.rank1-row,.rank2-row,.rank3-row,.rank4-row,.rank5-row {
  display: none;
}

.divider {
  width: 1px;
  display: inline-block;
  background-color: black;
}

.inb {
  display: inline-block;
}

.show {
  display: block;
}