.player-div {
  /*background-color: #EAEBE7;*/
  background-color: #b3e6ff;
  margin: 30px;
  border-radius: 20px; 
}

.player-div:hover {
  cursor: pointer;
}

.choose {
  text-decoration: none;
}

.chosen div {
  /*background-color: green;*/
  border: 1px solid green;
}

.off div {
  /*background-color: red;*/
  opacity: 0.4;
}

.team-not-complete {
  color: red;
}

.rank1-row,.rank2-row,.rank3-row,.rank4-row,.rank5-row {
  display: none;
}

.photo {
  height: 100vh;
  background: url('img/court.jpg') no-repeat center fixed;
  background-size: cover;
  position: relative;
}

.explanation {
  position: fixed;
  margin-top: 10%;
  background-color: rgba(172, 172, 134,0.5);
}

.show {
  display: block;
}